$shy: #E3EBF3;

footer {
    background: url("../../assets/media/mountain-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
        text-align: right;
    }

    li {
        display: block;
        padding: 1em 2em;
    }

    a {
        color: rgb(0, 0, 0);
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding-right: 0.5em;

        &:hover {
            cursor: pointer;
        }
    }

    img {
        float: right;
        max-width: 80%;
    }

    
}

@media screen and (max-width:600px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            display: none;
        }

        img {
            width: 90%;
            margin: 0 auto;
        }
    }
    
}