.full-width-table {
  width: 100%;
}

body {
  margin-top: 80px;
}

.course-table {
  width: 80%;
  margin: 0 auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.form-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .form-fields {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
}