<body>

  <div class="mat-elevation-z8 course-table">

    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

      <!-- Kurskod Column -->
      <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kurskod</th>
        <td mat-cell *matCellDef="let row">{{row.courseCode}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kursnamn</th>
        <td mat-cell *matCellDef="let row">{{row.courseName}}</td>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Poäng</th>
        <td mat-cell *matCellDef="let row">{{row.points}}</td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ämne</th>
        <td mat-cell *matCellDef="let row">{{row.subject}}</td>
      </ng-container>

      <!-- URL Kursplan Column -->
      <ng-container matColumnDef="syllabus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kursplan</th>
        <td mat-cell *matCellDef="let row"> <a [href]="row.syllabus">Länk</a></td>
      </ng-container>

      <!-- Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>

  </div>


</body>