$grey: #cecece;

body {
    margin-top: 80px;
  }
  
  .course-table {
    width: 80%;
    margin: 0 auto;
  }

  #sum {
    padding: 1em;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }