<header>
    <a routerLink="/home">
        <img src="../../assets/media/HatLogosmaller.svg" alt="Logga"></a>
    <nav class="desktop-nav">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Startsida</a></li>
            <li><a routerLink="/courses" routerLinkActive="active">Kurser</a></li>
            <li><a routerLink="/framework" routerLinkActive="active">Ramschema</a></li>

        </ul>
    </nav>

    <!-- Mobile nav button -->
    <div class="mobile-nav">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button for navigation menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before" class="custom-style">

            <button mat-menu-item routerLink="/home">Startsida</button>
            <button mat-menu-item routerLink="/courses">Kurser</button>
            <button mat-menu-item routerLink="/framework">Ramschema</button>

        </mat-menu>
    </div>

</header>