$transparent-bg: rgb(63, 103, 133, 0.8);
$shy-indigo: rgb(63, 103, 133);
$darkblue: #152938;
$lightblue: #D4E7EA;
$azul: #55BDE5;
$azulito: #55BBBB;


header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    padding: 1em;
    background-color: $lightblue;
    display: flex;
    border-bottom: 1px solid #9ABDD9;

    img {
        height: 100%;
    }


    nav {
        margin: 0.2em 0 0.2em 0;
        border-radius: 20px;

        ul {
            text-align: right;
        }

        li {
            display: inline;
            padding: 1em;
        }

        a {
            color: rgb(0, 0, 0);
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            padding-right: 0.5em;

            &:hover {
                cursor: pointer;
            }
        }

        .active {
            background-color: $transparent-bg;
            color: $lightblue;
            padding: 1.5em 0.5em 0.9em 0.5em;
        }

    }
}