<body>
    <div class="hero-logo">

        <h1>Skanderna Universitet</h1>
        <h2>Välkommen att ta nästa steg i din resa med oss
            på
            Skanderna Universitet</h2>
    </div>

    <div class="home-text">
        <div class="numbers">
            <h3 >4328 Kurser</h3>
            <h3 >52 967 Studenter</h3>
        </div>

        <p>På Skanderna Universitet skapar vi en inspirerande miljö där innovation, forskning och lärande är i fokus.

            Vi erbjuder ett brett utbud av utbildningsprogram som ger studenter den
            kunskap och de färdigheter som krävs för framtidens utmaningar. Med fokus på akademisk excellens och
            personlig utveckling, förbereder vi studenter för en framgångsrik framtid i en globaliserad värld. Upptäck
            möjligheterna hos oss och bli en del av vår engagerade gemenskap.
        </p>
    </div>


    <div class="home-img">
        <img src="../../assets/media/students01.jpg"
            alt="Studenter som sitter ihop och pluggar i en trappuppgång utomhus">
        <img src="../../assets/media/hall03.jpg"
            alt="Öppen area innuti universitetsbyggnaden där folk sitter och platar och pluggar">
        <img src="../../assets/media/library02.jpg" alt="Överblicksfoto över bibliotek med öppen planlösning">
    </div>



    <div class="home-text">

        <h1>Studera</h1>
        <p>På Skanderna Universitet erbjuder vi ett brett utbud av kurser som ger dig de verktyg och kunskaper du
            behöver för att lyckas. Vår undervisning kombinerar teoretisk kunskap med praktisk tillämpning, och vi
            har
            ett engagerat lärarteam av erfarna akademiker och branschprofessionella.

        </p>
        <p>Oavsett om du är intresserad av kreativa, samhällsorienterade eller analytiska ämnen, finner du något som
            passar dina intressen hos oss. Dessutom erbjuder vi många kurser på distans, så att du kan studera var
            du än
            befinner dig.</p>
        <p>Utforska våra mångsidiga kurser och hitta den utbildningsväg som inspirerar dig mest. På Skanderna
            Universitet är vi dedikerade till att hjälpa dig nå dina akademiska och professionella mål.
        </p>
        <br>

        <!-- länk till kurssidan -->
        <a routerLink="/courses">Utforska våra kurser</a>

        <br><br>

    </div>

    <app-footer></app-footer>
</body>